body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #800000; /* Cor vinho */
    color: white;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    cursor: pointer;
    margin-right: 10px;
    font-size: 36px; /* Aumenta o tamanho dos ":" */
    line-height: 1; /* Ajusta o espaçamento */
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #800000; /* Cor vinho */
    color: white; /* Texto na cor branca para contraste */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
}

.sidebar.active {
    display: block;
}

footer {
    background-color: #800000; /* Cor vinho */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

